#tierhacker-container {
  margin: 2rem auto;
  display: flex;
  justify-content: space-between;
  flex-flow: row nowrap;
  background: #eee;
  max-width: 360px;
  padding: 2rem;
  border-radius: 8px;
}

#tierhacker-btn {
  text-align: center;
  background: #ff7348;
  background-size: 10px;
  margin: 16px 0;
  display: block;
  color: #fff;
  text-shadow: 0px 0px 4px #000;
}

#tierhacker-btn:hover {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: rainbow 1s ease infinite;
}

#tierhacker-btn:disabled {
  opacity: 0.5;
  background: gray !important;
  animation: none !important;
}

#tierhacker-btn:before {
  content: "+";
  margin-right: 4px;
}

#tierhacker-input {
  width: 245px;
  box-sizing: border-box;
  padding: 8px 16px;
  font-family: monospace;
}

#image-preview {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: rgb(26, 26, 23);
}

#image-preview:after {
  content: "?";
  font-size: 64px;
}
#image-preview.filled:after {
  content: "";
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  99.9% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes rainbow {
  0% {
    background: #ee6055;
  }
  25% {
    background: #60d394;
  }
  50% {
    background: #aaf683;
  }
  75% {
    background: #ffd97d;
  }
  100% {
    background: #ff9b85;
  }
}
